---
layout: default
title: {{ site.name }}
---
<head><link rel="icon" type="img/ico" href="https://flameapp.ams3.digitaloceanspaces.com/FlameApp_Logo.png"></head>
<div id="home">
  <h1>Coming "soon"</h1>
  <p>Welcome to FlameApp, the only website.</p>
  <h1>What's this?</h1>
  <p>FlameApp is a projet me and a few friends are working on.</p>
  <h2>What's it about?</h2>
  <p>It's a software development website like Github but better, if you have any ideas send them over to <a href="mailto:benclark@flameapp.host">benclark@flameapp.host</a>
  <a id="letsgetrightintothenews"></a>
  <h1>Join the newsletter</h1>
  <p>You can check out our stuff down below or go sign up to our newsletter here:</p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdv_z3vVYfN-TMAAfBZem9iR3pV2NygmY6ZAq4B13PMGrNi4g/viewform?embedded=true" style="width: inherit;" height="680" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>