<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="https://flameapp.host" class="btn">Home</a>
  <a href="https://bitbucket.org/flameappmorelikelameapp" class="btn">Check us out on BitBucket</a>
  <a href="https://flameapp.host#letsgetrightintothenews" class="btn">Join the newsletter</a>
</section>